root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.{kt,kts}]
indent_size = 4
ij_kotlin_imports_layout = *
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_max-line-length = disabled

[*.rs]
indent_size = 4

[*.{xml,json,toml,yml,yaml}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[gradlew.bat]
end_of_line = crlf
